{% extends 'iprovider/base.html' %}
{% load static %}
{% load i18n %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'iprovider/css/signout.css' %}">
    <link rel="stylesheet" href="{% static 'iprovider/css/alert_signup.css' %}">
{% endblock %}


{% block head_title %}
    {% trans "Change password" %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="content p-4">
        <div class="page-section">
            <div class="signout-header">
                <h1>{% trans "Change password" %}</h1>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="signout-card">
                        <div class="signout-card-body p-4">
                             <form action="{% url 'account_change_password' %}" method="post">
                               {% csrf_token %}
                               {% if form.non_field_errors %}
                                  <div class="alert-danger">
                                      {{ form.non_field_errors }}
                                  </div>
                               {% endif %}
                                <div class="mb-3">
                                        <label for="id_oldpassword" style="color: #8A2BE2;">{% trans "Current Password" %}</label>
                                        <input type="password" name="oldpassword" placeholder="{% trans 'Current Password' %}"
                                               class="form-control bg-dark text-light border-secondary"
                                               id="id_oldpassword" required>

                                        {% if form.oldpassword.errors %}
                                            <div class="alert-text-danger">{{ form.oldpassword.errors }}</div>
                                        {% endif %}

                                </div>

                                    <div class="mb-3">
                                        <label for="id_password1" style="color: #8A2BE2;">{% trans "New Password" %}</label>
                                        <input type="password" name="password1" placeholder="{% trans 'New Password' %}"
                                               class="form-control bg-dark text-light border-secondary"
                                               id="id_password1" required>

                                        {% if form.password1.errors %}
                                        <div class="alert-text-danger">{{ form.password1.errors }}</div>
                                        {% endif %}

                                        <!-- Подсказка о требованиях к паролю -->
                                        <small class="auth-message">
                                            {% trans "Your password must be at least 8 characters long, cannot be entirely numeric, and cannot be too simular to your other personal information." %}
                                        </small>

                                    </div>

                                    <div class="mb-3">
                                        <label for="id_password2" style="color: #8A2BE2;">{% trans "New Password (again)" %}</label>
                                        <input type="password" name="password2" placeholder="{% trans 'New Password (again)' %}"
                                               class="form-control bg-dark text-light border-secondary"
                                               id="id_password2" required>

                                        {% if form.password2.errors %}
                                        <div class="alert-text-danger">{{ form.password2.errors }}</div>
                                        {% endif %}
                                    </div>


                               {{ redirect_field }}
                               <button type="submit" class="btn btn-outline-danger px-5 w-100 ">
                                   {% trans "Change Password" %}
                               </button><a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}