{% extends 'iprovider/base.html' %}
{% load static %}
{% load i18n %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'iprovider/css/signout.css' %}">
    <link rel="stylesheet" href="{% static 'iprovider/css/alert_signup.css' %}">
{% endblock %}

{% block head_title %}
    {% trans "Password reset" %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="content p-4">
        <div class="page-section">
            <div class="signout-header">
                <h1>{% trans "Password reset" %}</h1>
            </div>

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <div class="signout-card">
                        <div class="signout-card-body p-4">
                             <form action="{% url 'account_reset_password' %}" method="post">
                               {% csrf_token %}
                               {% if form.non_field_errors %}
                                  <div class="alert-danger">
                                      {{ form.non_field_errors }}
                                  </div>
                               {% endif %}
                                <div class="mb-3">
                                        <label for="id_email" style="color: #8A2BE2;">{% trans "Email" %}</label>
                                        <input type="email" name="email" placeholder="{% trans 'Email' %}"
                                               class="form-control bg-dark text-light border-secondary"
                                               id="id_email" required>

                                        {% if form.email.errors %}
                                            <div class="alert-text-danger">{{ form.email.errors }}</div>
                                        {% endif %}
                                </div>

                               {{ redirect_field }}
                               <button type="submit" class="btn btn-outline-danger px-5 w-100 ">
                                   {% trans "Reset My Password" %}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}