.btn.apply-btn {
  background-color: #007BFF !important;
  color: white;
  cursor:pointer;
}

.btn.apply-btn:active{
  background-color: #9800ff;
}

/* Для лучшего UX добавьте hover */
.btn.apply-btn:hover {
    background-color: #9800ff !important;
}